.padding-right{padding-right:10px !important;}
.form-group span.strick{ color:#FF0000;}
.add-spidey{margin-bottom:20px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:5px;}
.widget-main .form-horizontal .form-group{margin-left:0 !important; margin-right:0 !important;}
.related_story_data{margin:15px 0 0 15px}
.related_story_toggle_chk{margin-top: 15px;margin-left: 15px;}
.top-right-gap{margin:6px 15px;}
